/.bashrc
/.cache
/.ipython
/.lightning_studio
/.lightningignore
/.netrc
/.vscode
/.vscode-server
/.wget-hsts
/.zcompdump
/.zsh_history
/.zshrc
/gan
/wandb
/.condarc
/.config
/.docker
/.gitconfig
/.hushlogin
/.jupyter
/.local
/.oh-my-zsh
/.profile
/.ssh
/.sudo_as_admin_successful
/data